/* ******************************* PRIMO ************************************* */

.ex-1-square{
  transition:background-color 2s;
}

.ex-1-square:hover{
  background-color: red;
}


/* **************************************  SECONDO       **************** */

.ex-2-square{
  transition: all 2s;
}

.ex-2-square:active{
  width: 100%;
}

/* *************************************** TERZO ************************* */

.ex-3-square{
  transition: all 0.5s;
}

.ex-3-square:hover{
  border-radius: 50%;
}

/* ************************************* QUARTO   ************************** */

.ex-4-square{
  transition: all 0.5s;
}

.ex-4-square:hover{
  opacity: 0;
}

/* ***********************************  QUINTO  *************************** */

.ex-5-square{
 transition: all 1s;
}

.ex-5-square:hover{
  scale: 2;
}

.ex-5-square:active{
scale: 0.5;
}

/* ********************************  SESTO ****************************** */

.ex-6-img:hover{
  filter: grayscale(100%);
}

/* ******************************* SETTIMO ******************************** */

.ex-7-img{
  transition: all 2s;
}

.ex-7-img:hover{
  filter: grayscale(100%) brightness(1.1);
}

/* ******************************* OTTAVO ********************************** */

.ex-8-img{
  transition: all 2s;
}

.ex-8-img:hover{
  filter: grayscale(85%) brightness(1.2);
  border-radius: 20px;
}

/* ****************************** NONO ************************************* */

.ex-9-img{
  transition: all 2s;
}

.ex-9-img:hover{
  filter: grayscale(85%) brightness(1.2);
  border-radius: 20px;
  scale: 1.5;
}

/* ******************************* DECIMO **********************************/
@keyframes move{
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.ex-10-icon{
  animation: move 1s linear;
  animation-iteration-count: infinite;
}


/* ********************************* UNDICI ***************************** */

@keyframes by-by-ops {
  0% {
    transform: rotate(0deg);
  }

  90% {
    transform: rotate(270deg);
  }

  100%{
    transform: rotate(0deg);
  }
}

.ex-11-icon:hover{
  animation: by-by-ops 2s linear;
  animation-iteration-count: 1;
}


/* *********************************** DODICI **************************** */

@keyframes by-by-no-top {
  0%{
    top: -10px;
    left: 10%;
  }

  50%{
    top: -10px;
    left: 70%;
  }



}

.ex-12-button:hover .ex-12-top-white{
  animation: by-by-no-top 3s linear;
  animation-iteration-count: 1;
}

@keyframes by-by-no-bottom {
  0%{
    bottom: -10px;
    right: 20%;
  }

  50%{
    bottom: -10px;
    right: 70%;
  }



}

.ex-12-button:hover .ex-12-bottom-white{
  animation: by-by-no-bottom 3s linear;
  animation-iteration-count: 1;
}


/* **********************************  TREDICI ****************************/


@keyframes by-byy-top {
  0%{
    top: -10px;
    left: 10%;
  }

  30%{
    top: -10px;
    left: 70%;
    transform: rotate(0deg);
    
  }
  31%{
    top:-10px;
    left:85%;
    transform: rotate(90deg);
  }
  33%{
    top: 0px;
    left: 85%;
    transform: rotate(90deg);
  }
  35%{
    top:10px;
    left: 85%;
    transform: rotate(90deg);
  }
  39%{
    top:30px;
    left: 85%;
    transform: rotate(90deg);
  }
  41%{
    top: 60px;
    left: 85%;
    transform: rotate(90deg);
  }
  42%{
    top: 60px;
    left: 70%;
    transform: rotate(180deg);
  }
  50%{
    top:60px;
    left: 60%;
    transform: rotate(180deg);
  }

  80%{
    top:60px;
    left: -20%;
    transform: rotate(180deg);
    
  }

  81%{
    top:50px;
    left:-20%;
    transform: rotate(270deg);
  }

  94%{
    top:-10px;
    left:-20%;
    transform: rotate(270deg);
  }

  95%{
    top:-10px;
    left:-5%;
    transform: rotate(360deg);

  }
  100%{
    top: -10px;
    left: 10%;
    transform: rotate(360deg);

  }

}


.ex-13-button:hover .ex-13-top-white{
  animation: by-byy-top 3s linear;
  animation-iteration-count: 1;
}


@keyframes by-byy-bottom {
  0%{
    bottom: -10px;
    right: 20%;
  }

  30%{
    bottom: -10px;
    right: 70%;
    transform: rotate(0deg);
  }
  31%{
    bottom: -10px;
    right: 85%;
    transform: rotate(90deg);
  }

  31%{
    bottom: 0px;
    right: 85%;
    transform: rotate(90deg);
  }

  33%{
    bottom: 10px;
    right: 85%;
    transform: rotate(90deg);
  }

  44%{
    bottom: 60px;
    right: 85%;
    transform: rotate(90deg);
  }

  45%{
    bottom: 60px;
    right: 75%;
    transform: rotate(180deg);
  }

  50%{
    bottom: 60px;
    right: 65%;
    transform: rotate(180deg);
  }


  75%{
    bottom: 60px;
    right: -20%;
    transform: rotate(180deg);
  }

  76%{
    bottom: 55px;
    right: -20%;
    transform: rotate(270deg);
  }

  90%{
    bottom: -10px;
    right: -20%;
    transform: rotate(270deg);
  }

  91%{
    bottom: -10px;
    right: -10%;
    transform: rotate(360deg);
  }

  100%{
    bottom: -10px;
    right: 20%;
    transform: rotate(360deg);
  }

}

.ex-13-button:hover .ex-13-bottom-white{
  animation: by-byy-bottom 3s linear;
  animation-iteration-count: 1;
}

